.container {
    padding: 0 4rem;
    margin-top: 2rem;
    display: grid;
    
  }

.nftImage {
    justify-self: center;
    width: 100%;
}

.nftTitle {
    justify-self: center;
}

.nftTitleCard {
    border: 2px solid black;
    border-radius: 25px;
    display: grid;
    padding:1rem;
}